{
  "comments": false,
  "env": {
{{#testing unit e2e}}
    "test": {
      "presets": [
        "@babel/preset-env",
      ],
      "plugins": ["istanbul"]
    },
{{/testing}}
    "main": {
      "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
      ]
    },
    "renderer": {
      "presets": [
        "@babel/preset-react"
      ]
    },
    "web": {
      "presets": [
        "@babel/preset-env",
      ]
    }
  },
  "plugins": ["@babel/plugin-transform-runtime"]
}
